/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

#root {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrap {
  max-width: 1280px;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  min-height: calc(100vh - 3rem);
  border: 1px solid black;
}

h1 {
  font-size: 30px;
  text-align: left;
}
h2 {
  font-size: 16px;
  text-align: left;
  text-decoration: underline;
  display: inline-block;
  width: 80%;
}

h3 {
  font-size: 16px;
  text-align: left;
}

.titleBar {
  max-height: 40px;
}

.restaurant {
  max-width: 600px;
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
  border-radius: 7px;
  margin: 5px 0 5px 0;
}

.votingContainer {
  width: 20%;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.voteCount {
  display: inline-block;
}

.voteButton {
  font-size: 24px;
  border: none;
  background: none;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

ul {
  list-style-position: outside;
  padding: 0;
}

.menu-item {
  text-align: left;
  margin: 5px 5px 5px 5px;
  list-style: circle;
  margin-left: 30px;
}
